.about-wrapper {
    height: 60vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8% 8%;
}

.about-wrapper .text-col {
    flex: 1;
}

.about-wrapper .text-col h1 {
    margin: 0px;
    padding: 0px;
    font-size: 5rem;
    color: var(--primary-color);
}

.about-wrapper .text-col h5 {
    font-size: 2rem;
    color: var(--primary-color);
    margin: 0px;
    padding: 0px;
}
.about-wrapper .text-col p {
    margin-top: 4%;
    color: var(--primary-color);
    width: 70%;
}
.about-wrapper .image-col {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-wrapper .image-col picture {
width: 450px;
}

.about-wrapper .image-col picture img {
    width: 400px;
    height: auto;
    border-radius: 10px;

    -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.about-wrapper .image-col picture:nth-child(2) {
    margin-top: -70px;
    padding-right: 250px;
}